* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	font-family: 'Lato', sans-serif;
}

a{
	text-decoration:none;
}

header{
	width: 100%;
	height: 120px;
	background-color: #34495e;
	margin: 0 auto;
}

.logo{
	float: left;
	margin-top: 10px;
	margin-left: 25px;
}

header h1{
	color: #fff;
	padding-top: 35px;
	padding-left: 30px;
	display: inline-block;
    float:left;
}

.search-wrapper{
	padding-top: 40px;
	padding-right: 50px;
	float:right;
	display: inline-flex;
	font-size: 1.2em;
}

.search-box{
	font-size: inherit;
	border: 0.2em solid #bdc3c7;
	border-radius: 0.5em 0 0 0.5em;
	padding: 0.2em 0.5em;
	outline: 0;
	background-color: white;
}

.search-button{
	background-color: #95a5a6;
	border: 0.2em solid #bdc3c7;
	border-radius: 0em 0.5em 0.5em 0em;
	border-left: 0;
	padding: 0 0.75em;
	color:white;
	cursor:pointer;
	font-weight: bold;
	height:43px;
	margin-left:-6px;
}


div#container{
	width: 100%;
	margin: 0 auto;
}

nav{
	width: 250px;
	background-color: #95a5a6;
	float: left;
	height: 100vh;
}

nav ul li{
	list-style: none;
}

nav ul li a{
	color: #fff;
	display: block;
	font-size: 1em;
	padding-left:10px;
	border-bottom: 1px solid #7f8c8d;
}

nav ul li a:hover{
	background-color:#9EA7B5;
	color:#fff;
	padding:10px;
}

nav ul li img, nav ul li p{
	display: inline-block;
	vertical-align: middle;
	padding-left: 10px;
}

nav ul li p{
	padding-top: 20px;
	padding-left: 20px;
}

.content{
	position: relative;
	width: auto;
	margin-left: 250px;
	background-color: #ecf0f1;
	height: 100vh;
	padding: 15px;
}


.content h1{
	padding-top: 5px;
	padding-left: 10px;
}

input[type=button] {
  cursor:pointer;
}
.box{
	position: absolute;
	top:90px;
	left:40px;
	width:200px;
	height:220px;
	box-sizing: border-box;
	background: #ecf0f1;
	float:left;
}

.box h5{
	position: absolute;
	margin: 0;
	padding: 0;
	color:black;
	bottom: 15px;
	left:45px;
}

.box:hover{
	background-color:#E4F1FE;
}

.box2{
	position: absolute;
	top:90px;
	left:270px;
	width:200px;
	height:220px;
	box-sizing: border-box;
	background: #ecf0f1;
	float:left;
}

.box2 h5{
	position: absolute;
	margin: 0;
	padding: 0;
	color:black;
	bottom:15px;
	left:10px;
}

.box2:hover{
	background-color:#E4F1FE;
}

.box3{
	position: absolute;
	top:90px;
	left:500px;
	width:200px;
	height:220px;
	box-sizing: border-box;
	background: #ecf0f1;
	float:left;
}

.box3 h5{
	position: absolute;
	margin: 0;
	padding: 0;
	color:black;
	bottom:15px;
	left:55px;
}

.box3:hover{
	background-color:#E4F1FE;
}

.box4{
	position: absolute;
	top:90px;
	left:730px;
	width:200px;
	height:220px;
	box-sizing: border-box;
	background: #ecf0f1;
	float:left;
}

.box4 h5{
	position: absolute;
	margin: 0;
	padding: 0;
	color:black;
	bottom:15px;
	left:40px;
}

.box4:hover{
	background-color:#E4F1FE;
}

.panel{
	width: 150px;
	height:150px;
	overflow:hidden;
	position: absolute;
	top: 20px;
	left: calc(50% - 75px); 
}

.footer-container{
	background-color: #34495e;
	height: 40px;
	width:100%;
	margin: 0 auto;
}

.mcontent{
	width:1000px;
}
.mdialog{
	left:-20%;
}

.dropdown-menu li{
	padding-top: 5px;
	padding-left: 20px;
}

.scroll{
	overflow: scroll;
	overflow-x: hidden;
	height: 250px;
}


